# Copy this file to .env and fill in values

# development | production, defaults to production
APP_ENV=production

# Where the Litestar app itself is found (`file:varname`, e.g. `app:app`);
# allows litestar run to locate app instance
# Not needed if uvicorn is being invoked directly with LITESTAR_APP set on the command line
LITESTAR_APP=app:app

# Database connection string
DATABASE_URL=postgresql+asyncpg://...

# 32-bit text string max enforced by litestar-users, this might be a security weakness
JWT_ENCODING_SECRET=

# Secret key to encode CSRF token for CSRF protection middleware; arbitrary string (I think)
CSRF_SECRET=
