[tools]
uv = "0.9.9"

[env]
_.python.venv = { path = ".venv" }
DEV_DB_DRIVER = "postgresql+asyncpg"
DEV_DB_HOST = "localhost"
DEV_DB_PORT = "5432"
DEV_DB_USER = "postgres"
DEV_DB_PASS = "postgres"
DEV_DB_NAME = "tvchartdb"
JWT_ENCODING_SECRET = "bb1e88b2478ea94c3bede32df63bb972"

[tasks]
devup = "cd src; litestar run --reload"
dbup = "docker run --name $DEV_DB_NAME -e POSTGRES_DB=tvchartdb -e POSTGRES_PASSWORD=$DEV_DB_PASS -d -p $DEV_DB_PORT:$DEV_DB_PORT postgres"  # no persistent volume yet
psql = "docker exec -it $DEV_DB_NAME psql -U $DEV_DB_USER"
