[tools]
uv = "0.9.9"

[env]
_.python.venv = { path = ".venv" }
APP_ENV = "development"
DB_DRIVER = "postgresql+asyncpg"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_USER = "postgres"
DB_PASS = "postgres"
DB_NAME = "tvchartdb"
JWT_ENCODING_SECRET = "bb1e88b2478ea94c3bede32df63bb972"

[tasks.devup]
description = "Start the development webapp running locally, with --reload"
run = "cd src; litestar run --reload"

[tasks.dbup]
description = "Start a PostgreSQL instance in a docker container"
run = "docker run --name $DB_NAME -e POSTGRES_DB=tvchartdb -e POSTGRES_PASSWORD=$DB_PASS -d -p $DB_PORT:$DB_PORT postgres"  # no persistent volume yet

[tasks.dbdown]
description = "Stop and remove the PostgreSQL docker container"
run = "docker stop tvchartdb && docker rm tvchartdb"

[tasks.psql]
description = "Run psql inside the PostgreSQL docker container"
run = "docker exec -it $DB_NAME psql -U $DB_USER tvchartdb"
